<div [class.d-none]="hideGame" class='container'>
  <div class='row'>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="card text-white alert-primary mb-3">
          <img class="card-img-top resize-img" src="{{ game.logo }}" alt="Card image cap">
          <div class="card-body text-center">
            <h5 class="card-title">{{ game.name }}</h5>
            <p class="card-text">{{ game.description }}</p>
            <hr>
            <div class="row">
              <div *ngFor="let user of users" class="col-sm-3">
                  <img class="rounded-circle border-{{ user.color }}" src="{{ user.photo }}" alt="">
                  <h6>{{ user.name }}</h6>
                  <div *ngIf="multiUsers; else elseBlock">
                    <button class="btn btn-success" (click)="win(user)">Gagnant !</button>
                  </div>
                  <ng-template #elseBlock>
                    <div class="text-center">
                      <span class="buttonValid" (click)="win(user)">✅</span>
                      <span class="buttonLoose" style="cursor: pointer" (click)="loose(user)">❌</span>
                    </div>
                  </ng-template>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-outline-secondary btn-block" (click)="skip()">Changement de jeu</button>
          </div>
        </div>
    </div>
  </div>
</div>

<div [class.d-none]="hideReward" class="alert alert-success alert-dismissible fade show">
  <strong>La récompense du gagnat !</strong>
  <hr>
  {{ reward?.name }}: {{ reward?.description }}
  <button (click)="relaunchTimer()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div [class.d-none]="hidePledge" class="alert alert-danger alert-dismissible fade show">
  <strong>Et voici le gage pour le(s) perdant(s) ...</strong>
  <hr>
  {{ pledge?.name }}: {{ pledge?.description }}
  <button (click)="relaunchTimer()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
