<div [class.d-none]="hideGame" class='container'>
  <div class='row'>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="card text-white alert-{{ user.color }} mb-3">
        <img class="card-img-top" src="{{ game.logo }}" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">{{ game.name }}</h5>
          <p class="card-text">{{ game.description }}</p>
          <hr>
          <img class="rounded-circle border-{{ user.color }}" src="{{ user.photo }}" alt=""> <h6>{{ user.name }}</h6>
        </div>
        <div class="card-footer pull-right">
          <button class="btn btn-success" (click)="win()">Réussi !</button>
          <button style="float: right" class="btn btn-danger pull-right" (click)="loose()">Raté ...</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div [class.d-none]="hideReward" class="alert alert-success alert-dismissible fade show">
  <strong>Félicitations {{ user.name }} !</strong>
  <hr>
  {{ reward?.name }}: {{ reward?.description }}
  <button (click)="relaunchTimer()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div [class.d-none]="hidePledge" class="alert alert-danger alert-dismissible fade show">
  <strong>Dommage {{ user.name }} ...</strong>
  <hr>
  {{ pledge?.name }}: {{ pledge?.description }}
  <button (click)="relaunchTimer()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
