<h1 class="text-center text-success" [class.text-danger]="timeLeft <= 10" [class.text-warning]="timeLeft <= 60" [class.d-none]="hideTimer">{{finalTime}}</h1>

<div [class.d-none]="!hideTimer" class="card text-white bg-primary mb-3" style="width: 18rem;">
  <img class="card-img-top" src="{{ game.logo }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ game.name }}</h5>
    <p class="card-text">{{ game.description }}</p>
  </div>
  <div class="card-footer pull-right">
    <button class="btn btn-success">Réussi !</button>
    <button class="btn btn-danger pull-right">Raté ...</button>
  </div>
</div>
